@keyframes fadein {
    from {
        transform: translateY(20px);
        opacity: 0;
    }
    to {
        transform: translateY(0);
        opacity: 1;
    }
}

body {
    background: linear-gradient(to right, #c7c5d4, #bcb9e7, #dbdbdb);
    color: white;
}

body > *:not(.collapse) {
    animation: fadein 1s ease;
    animation-fill-mode: both;
}

.nav-link {
    color: white;
}

.nav-link {
    color: white;
    color: #b6a8c5 !important;
}

.nav-link.active {
    color: white !important;
    font-weight: bold;
}

.tag-btn {
    background-color:#b6a8c5;
    color: #ebebeb;
    border: none;
    border-radius: 20px;
    padding: 5px 15px;
    margin: 5px;
    transition: scale 0.25s ease;
}

.tag-btn:hover {
    scale: 1.2;
    transition-behavior: smooth;
    transition: scale 0.25s ease;
}

.hero-img {
    max-width: 100%;
    border-radius: 20px;
    box-shadow: 0 4px 20px rgba(0,0,0,0.5);
    margin: 10%;
    transition: scale 0.35s ease;
}

.hero-img:hover {
    scale: 1.1;
    transition-behavior: smooth;
    transition: scale 0.35s ease;
}

.service-card {
    background-color: #8d8994;
    border: none;
    border-radius: 16px;
    padding: 20px;
}

.section-title img {
    font-size: 1.2rem;
    font-weight: 600;
    transition: scale 0.35s ease;
}

.section-title img:hover:not(.img-fluid) {
    scale: 1.3;
    transition-behavior: smooth;
    transition: scale 0.35s ease;
}

.navbar-brand img {
    transition: scale 0.25s ease;
}

.navbar-brand img:hover {
    scale: 1.3;
    transition-behavior: smooth;
    transition: scale 0.25s ease;
}

a {
    text-decoration: none;
}